.searchBar {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .searchWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 80px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 50px;
  }
  
  .searchInput {
    width: 30%;
    padding: 12px 16px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: var(--color-primary);
    color: var(--color-text);
  }
  
  .searchControls {
    display: flex;
  }
  
  .categorySelect {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
    cursor: pointer;

  }
  
  .select {
    width: 100%;
    padding: 12px 0px 12px 16px;
    font-size: 14px;
    border: none;
    background-color: transparent;
    appearance: none;
    cursor: pointer;
    color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .selectIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--color-secondary)
  }
  
  .searchButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .searchButton:hover {
    transform: scale(1.2);
  }
  
  @media (min-width: 480px) {
    .searchWrapper {
      flex-direction: row;
      width: 60%;
    }
  
    .searchInput {
      flex-grow: 1;
    }
  
    .searchControls {
      width: auto;
    }
  
    .categorySelect {
      flex-grow: 0;
    }
  }
  
  .suggestionsList {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
  }
  
  .suggestionItem {
    padding: 10px;
    cursor: pointer;
    transition: background 0.2s;
  }
  
  .suggestionItem:hover,
  .suggestionItem.active {
    background: #f0f0f0;
  }
  
  